<!-- Home -->
<div ng-include="'./views/template/nav-header-cfp.html'"></div>
<div class="wapp">
	<section>
		<div class="title-page">O que há de novo?</div>
		<div class="min-card" ng-repeat="obj in feeds">
			<div class="min-card-content" ng-click="expand('card'+obj.id)">
				<div class="min-card-img">
					<img ng-src="{{obj.feed.img}}" alt="">
				</div>
				<div class="min-card-body">
					<a>
						<b>{{obj.feed.title.toString().substr(0, 21)}}:</b>
						{{obj.feed.text.toString().substr(0, 75)}}...
					</a>
					<small>{{obj.author.name.toString().substr(0, 8)}} - {{obj.datacadastro | datahora}}</small>
					<i class="fa fa-angle-down"></i>
				</div>
			</div>
			<div class="card" hidden='true' id="{{'card'+obj.id}}">
				<div class="card-header">
					<img ng-src="{{obj.author.avatar}}" alt="">
					<div>
						<a>
							{{obj.author.name}}
						</a>
						<small>{{obj.datacadastro | datahora}}</small>
					</div>
				</div>
				<div class="card-divider"></div>
				<div class="card-body">
					<div>{{obj.feed.title}}</div>
					<p>
						{{obj.feed.text}}
					</p>
					<img ng-src="{{obj.feed.img}}" alt="">
	
				</div>
			</div>
		</div>
	</section>
</div>
<div ng-include="'./views/template/nav-footer-cfp.html'"></div>
<!-- <div class="toast animated bounce">Essa é uma página de Teste</div> -->