<div ng-include="'views/nav.html'"></div>
<div class="container">
    <div class="menu_page_container">
        <a href="#/cronograma">
            <div class="menu_page_content" ng-click="cronograma">
                <img src="libs/img/cronograma.png" alt="Cronograma">
                <div class="menu_page_content_footer">
                    Cronograma
                </div>
            </div>
        </a>
        <a href="#/apagar">
            <div class="menu_page_content" ng-click="despesa">
                <img src="libs/img/despesa.png" alt="Despesas">
                <div class="menu_page_content_footer">
                    Despesas
                </div>
            </div>
        </a>
        <a href="#/areceber">
            <div class="menu_page_content" ng-click="recebimento">
                <img src="libs/img/recebimento.png" alt="Recebimentos">
                <div class="menu_page_content_footer">
                    Recebimentos
                </div>
            </div>
        </a>
        <a href="">
            <div class="menu_page_content" ng-click="clickMenu()">
                <img src="libs/img/recebimento.png" alt="Recebimentos">
                <div class="menu_page_content_footer">
                    Teste
                </div>
            </div>
        </a>
    </div>
</div>