<div class="container">
    <div class="menu_page_container">
        <div class="menu_page_content" ng-click="cronograma">
           <img src="libs/img/cronograma.png" alt="Cronograma">
           <div class="menu_page_content_footer">
                Cronograma
            </div>
        </div>
        <div class="menu_page_content" ng-click="despesa">
            <img src="libs/img/despesa.png" alt="Despesas">
            <div class="menu_page_content_footer">
                Despesas
            </div>
        </div>
        <div class="menu_page_content" ng-click="recebimento">
            <img src="libs/img/recebimento.png" alt="Recebimentos">
            <div class="menu_page_content_footer">
                Recebimentos
            </div>
        </div>
    </div>
</div>