<div class="container">
    <div class="menu_page_container">
        <div class="menu_page_content">
            <span>Cronograma</span>
            <img src="libs/img/cronograma.png" alt="Cronograma">
        </div>
        <div class="menu_page_content">
            <img src="libs/img/despesa.png" alt="Despesas">
            <span>Despesas</span>
        </div>
        <div class="menu_page_content">
            <img src="libs/img/recebimento.png" alt="Recebimentos">
            <span>Recebimentos</span>
        </div>
    </div>
</div>