<div ng-include="'./views/template/nav-header-cfp.html'"></div>
<div class="wapp">
    <div class="panel-img">
        <img src="./libs/img/icons/moneybreak-512x512.png" alt="">
    </div>
    <div panel-group>
        <div class="panel panel-default">
            <div class="panel-heading">
                Cronograma
            </div>
            <div class="panel-body">
                <div class="list">
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel-footer">Rodapé</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Cronograma
            </div>
            <div class="panel-body">
                <div class="list">
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div>
            </div>
            <div class="panel-footer">Rodapé</div>
        </div>
    </div>
</div>
<div ng-include="'./views/template/nav-footer-cfp.html'"></div>