<!-- Recebimentos -->
<div class="container">
	<div class="row">
		<div class="col-md-12" ng-if="!novo">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Lista de Recebimentos<i class="fa fa-arrow-down pull-right"></i></h3>
				</div>
				<div class="panel-body">
					<div class="bg-danger btn-lg" ng-if="!recebimentos">
						<span class="text-danger">Nenhum recebimento registrado</span>
					</div>
					<table class="table table-bordered table-striped"  ng-if="recebimentos">
						<thead>
							<tr>
								<td>ID</td>
								<td>Descrição</td>
								<td>Valor</td>
								<td>Tipo</td>
								<td>Data Arrecadação</td>
								<td>Ações</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="obj in recebimentos">
								<td ng-bind="obj.id"></td>
								<td ng-bind="obj.descricao"></td>
								<td ng-bind="obj.valor"></td>
								<td ng-bind="obj.tipo"></td>
								<td ng-bind="obj.dataarrecadacao"></td>
								<td>
									<div class="btn-group">
										<button class="btn btn-warning" type="button" ng-click="editar(obj)"><i class="fa fa-pencil"></i></button>
										<button class="btn btn-danger" type="button" ng-click="deletar(obj)"><i class="fa fa-trash"></i></button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="8">
									<label class="label-control">Registros encontrados ({{recebimentos.length}})</label>
									<button class="btn btn-default pull-right" type="button" ng-click="listar()">Refresh <i class="fa fa-refresh"></i></button>
								</td>
							</tr>
						</tfoot>
					</table>
					<hr>
					<button class="btn btn-primary" ng-click="novoRecebimento()"><i class="fa fa-plus"></i> Novo Recebimento</button>
				</div>
			</div>
		</div>
		<div class="col-md-12" ng-if="novo">
			<div class="panel panel-default">
				<div class="panel-heading">
					Cadastro de Recebimentos
					<i class="fa fa-arrow-up pull-right"></i>
				</div>
				<div class="panel-body">
					<form name="form" class="form" role="form">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
								 	<label class="label-control">Descrição</label>
									<input type="text" class="form-control" name="descricao" ng-model="recebimento.descricao" ng-required="true">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-2">
								<div class="form-group">
								 	<label class="label-control">Valor</label>
									<input type="text" class="form-control" name="valor" ng-model="recebimento.valor">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								 	<label class="label-control">Tipo</label>
								 	<select class="form-control" ng-model="recebimento.tipo">
								 		<option value="UNICO">Único</option>
								 		<option value="INDETERMINADO">Indeterminado</option>
								 	</select>
								</div>
							</div>	
							<div class="col-md-3">
								<div class="form-group">
								 	<label class="label-control">Data Arrecadacao</label>
									<input type="text" class="form-control" name="dataarrecadacao" ng-model="recebimento.dataarrecadacao" ng-required="true">
								</div>
							</div>
						</div>

						<hr>
						<div>
							<button class="btn btn-success pull-rigth" type="button" ng-click="salvar(recebimento)" ng-disabled="form.$invalid">Salvar Despesa</button>
							<button class="btn btn-danger pull-rigth" type="button" ng-click="cancelar()">Cancelar</button>
						</div>
					</form>
				</div>
			</div>
		</div>	
	</div>
	
</div>