#footer {
    display: flex;
    background-color: #0984e3;
    color: #dfe6e9;
    height: 50px;
    
    .btn {
        flex: 1;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}