<main id="main">
    <section class="files">
        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <!-- arquivos -->
        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>
        
        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>

        <div class="file">
            <a href="">icone</a>
            <p>Nome do Diretório</p>
        </div>
    </section>
</main>