<div id="sidebar">
    <h3>Detalhes da Conta</h3>
    <p>Total de espaço 1GB</p>

    <div class="progress">
        <div class="bar">60% Usado</div>
        <div class="bar used">40% Livre</div>
    </div>

    <form action="">
        <legend>Compartilhar Drive</legend>
        <input type="email" placeholder="Email...">
        <input type="submit" value=">" class="btn">
    </form>

    <p>Compartilhados</p>

    <ul>
        <li>Nenhum</li>
    </ul>

    <a href="" class="btn">Editar Informações</a>
    <a href="" class="btn red">Sair</a>
</div>
