<div class="wapp">
    <div class="home">
        Bem Vindo a Página Home
    </div>
    <div class="panel">
        <div class="panel-h">
            Rotas
        </div>
        <div class="panel-b">
            Escolha sua próxima rota:
            <select id="rotas">
                <option value="home">Home</option>
                <option value="geolocation">Geolocation</option>
                <option value="404">Error 404</option>
            </select>
        </div>
        <div class="panel-r">
            Rotas
        </div>
    </div>
</div>