.statusnet {
    margin: 0 auto;
    width: 210px;
    padding: 20px;
    font-weight: bold;
}
.toast {
    position: fixed;
    background: rgba(0, 0, 0, 0.863);
    padding: 15px;
    /* height: 45px; */
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /* display: none; */
}
.toast > img {
    position: relative;
    
}