<nav class="nav-cfp-footer">
    <div class="nav-menu">
        <ul>
            <li><a href="#/cronograma" title="Cronograma" id="menu_cronograma" class="nav-menu-active menu-cfp"><i class="fa fa-calendar font-20"></i></a></li>
            <li><a href="#/apagar" title="Despesas" id="menu_despesa" class="menu-cfp"><i class="fa fa-money font-20"></i></a></li>
            <li><a href="" title="Recebimentos" id="menu_recebimento" class="menu-cfp"><i class="glyphicon glyphicon-piggy-bank font-20"></i></a></li>
            <li><a id="menu_+" title="Mais Opções" class="menu-cfp"><i class="fa fa-server font-20"></i></a></li>
        </ul>
    </div>
</nav>