<div class="menu-usuario">
    <ul>
        <li>
            <i class="fa fa-user"></i> 
        </li>
        <li>
            <span>Email:</span> {{usuario.email}}
        </li>
        <li>
            <span>Apelido:</span> {{usuario.nome}}
        </li>
        <li>
            <span>Perfil:</span> Usuário Beta
        </li>
        <li>
            <a data-toggle="modal" ng-click="logout()" class="btn btn-danger">
                <i class="glyphicon glyphicon-remove-sign"></i> Sair do Sistema
            </a>
        </li>
    </ul>
</div>